<div class="row">

  <div class="col-md-6 col-md-offset-3" id="about_section">

    <h1 class="title-page">About</h1>
    <hr>

    <h3>Developers</h3>
    <p>Karamot Kehinde Biliaminu - up201502055@fe.up.pt</p>
    <p>Miguel Geraldes Antunes Mendes - ei11058@fe.up.pt</p>
    <p>João Francisco Carvalho Neto - ei12013@fe.up.pt</p>
    <p>Luis Eduardo de Magalhães Reis - ei12085@fe.up.pt</p>
    <p>Susana Isabel do Vale Ventura de Sousa - ei12009@fe.up.pt</p>

    <br>
    <h3>Context</h3>
    <p>This website was developed for Information Systems course at FEUP (Faculdade de Engenharia da Universidade do Porto). All developers are students on the 4th year of Master in Informatics and Computing Engineering.</p>
    <p>December 2015</p>

  </div>


</div>


