<% provide(:title, 'Home') %>

<div class="header_slide">
  <div class="row">

    <div class="col-md-3">
      <%= render partial: 'layouts/categories_list', locals: {categories: @categories} %>
    </div>
    <div class="col-md-9">
      <%= render 'layouts/slider' %>

      <div class="main">
        <div class="content">
          <div class="content_top">
            <div class="heading">
              <h3>Products on Sale</h3>
            </div>
            <div class="see">
              <p><%= link_to 'See all Products', products_path(filterOnSale: true) %></p>
            </div>
            <div class="clear"></div>
          </div>

          <%= render partial:'layouts/products_list', locals: {products: @products_on_sale} %>

        </div>
      </div>


    </div>
  </div>
  <div class="clear"></div>
</div>

