<% provide(:title, 'Stores') %>

<div class="header_slide">
  <div class="row">

    <div class="col-md-3">
      <%= render partial: 'layouts/categories_list', locals: {categories: @categories} %>
      <%= render partial: 'layouts/stores_list', locals: {stores: @stores} %>
    </div>
    <div class="col-md-9">
      <% @stores.each do |_,store| %>
          <%= link_to  store['name'], products_path(codStore: store['id']) %> <br>
          <% @store_products[store['id']].each do |product| %>

              <%= render partial: 'layouts/product', locals: {p: product} %>
          <%end%>
      <%end%>
    </div>
  </div>
</div>