<!--<footer class="footer">
  <div class="row">
    <div clas="col-md-4 col_1_of_4 span_1_of_4">
      <h4>Information</h4>
    </div>
    <div clas="col-md-4">
      <h4>Information</h4>
    </div>
  </div>
</footer>-->


<div class="footer">
 <!-- <div class="wrap">
    <div class="section group">
      <div class="col_1_of_4 span_1_of_4">
        <h4>Information</h4>
        <ul>
          <li><a href="about.html">About Us</a></li>
        </ul>
      </div>
      <div class="col_1_of_4 span_1_of_4">
        <h4>Contact</h4>
        <ul id="inline-footer-list">
          <li><span>João Neto  ei12013@fe.up.pt</span></li>
          <li><span>Karamot Biliaminu  up201502055@fe.up.pt</span></li>
          <li><span>Miguel Mendes  ei11058@fe.up.pt</span></li>
          <li><span>João Neto  ei11058@fe.up.pt</span></li>
          <li><span>Luis Reis  ei12085@fe.up.pt</span></li>
          <li><span>Susana Ventura  ei12009@fe.up.pt</span></li>
        </ul>
      </div>
    </div>
  </div>-->
  <div class="copy_right">
    <p>SINF 4MIEIC02_C © All rights Reseverd | Design by  <a href="http://w3layouts.com">W3Layouts</a> </p>
  </div>
</div>