<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <div class="item active">
      <div class="col-md-12 col-sm-12">
        <div class="slider-img">
          <a href="preview.html" alt='learn more'><img src=<%=images_path('slide-1-image.png')%>/></a>
        </div>
        <div class="slider-text">
          <h1>Clearance<br><span>SALE</span></h1>

          <h2>UPTo 20% OFF</h2>

          <div class="features_list">
            <h4>Get to Know More About Our Memorable Services Lorem Ipsum is simply dummy text</h4>
          </div>
          <a href="preview.html" class="button">Shop Now</a>
        </div>
        <div class="clear"></div>
      </div>
    </div>

    <div class="item">
      <div class="col-md-12 col-sm-12">
        <div class="slider-img">
          <a href="preview.html" alt="learn more"><img src=<%=images_path('slide-1-image.png')%> /></a>
        </div>
        <div class="slider-text">
          <h1>Clearance<br><span>SALE</span></h1>

          <h2>UPTo 20% OFF</h2>

          <div class="features_list">
            <h4>Get to Know More About Our Memorable Services Lorem Ipsum is simply dummy text</h4>
          </div>
          <a href="preview.html" class="button">Shop Now</a>
        </div>
        <div class="clear"></div>
      </div>
    </div>

    <div class="item">
      <div class="col-md-12 col-sm-12">
        <div class="slider-img">
          <a href="preview.html" alt="learn more"><img src=<%=images_path('slide-1-image.png')%>/></a>
        </div>
        <div class="slider-text">
          <h1>Clearance<br><span>SALE</span></h1>

          <h2>UPTo 20% OFF</h2>

          <div class="features_list">
            <h4>Get to Know More About Our Memorable Services Lorem Ipsum is simply dummy text</h4>
          </div>
          <a href="preview.html" class="button">Shop Now</a>
        </div>
        <div class="clear"></div>
      </div>
    </div>

    <div class="item">
      <div class="col-md-12 col-sm-12">
        <div class="slider-img">
          <a href="preview.html" alt="learn more"><img src=<%=images_path('slide-1-image.png')%> /></a>
        </div>
        <div class="slider-text">
          <h1>Clearance<br><span>SALE</span></h1>

          <h2>UPTo 20% OFF</h2>

          <div class="features_list">
            <h4>Get to Know More About Our Memorable Services Lorem Ipsum is simply dummy text</h4>
          </div>
          <a href="preview.html" class="button">Shop Now</a>
        </div>
        <div class="clear"></div>
      </div>
    </div>

  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>